extends ../layout

block content
    table.table
        thead
            tr
                th First Name
                th Last Name
                th Email
                th Phone No
                th Password 
        tbody
            each registration in registrations
                tr
                    td=registration.fname
                    td=registration.lname
                    td=registration.email
                    td=registration.phNo
                    td=registration.password